<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World of Noth</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <div class="l-container">
            <ul class="c-character-list" v-if="currentPosts">
                <template v-for="post in currentPosts">
                    <li class="c-character-list__item"  @click="showModal(post)">
                        <img class="c-character-list__image" :src="post.featured_image" alt="">
                        <a class="c-character-list__link" :href="post.URL">{{ post.title }}</a>
                    </li>
                </template>
            </ul>
        </div>
        <div class="l-sidebar">
            <ul class="c-category-list">
                <template v-for="category in categories">
                    <li class="c-category-list__item" @click="reloadCharacters(category.slug)">
                        {{ category.name }} ({{ category.post_count }})
                    </li>
                </template>
            </ul>
        </div>
        <pre style="display:none;">
            {{ categories }}
        </pre>
        <div class="c-image-modal" v-if="imvisible" @click="{imvisible = false}">
            <div class="c-image-modal__content">
                <img class="c-image-modal__image" :src="imurl" alt="">
                <p class="c-image-modal__paragraph" v-html="imtext">{{imtext}}</p>
            </div>
        </div>
    </div>
      
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="module"  src="script.js"></script>
</body>
</html>